Black/obj/Debug/Assembly-CSharp-firstpass.csproj.FileListAbsolute.txt
Black/obj/Debug/Assembly-CSharp-firstpass.csprojResolveAssemblyReference.cache
Black/obj/Debug/Assembly-CSharp-firstpass.dll
Black/obj/Debug/Assembly-CSharp-firstpass.pdb
Black/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
Black/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
Black/obj/Debug/Assembly-CSharp.dll
Black/obj/Debug/Assembly-CSharp.pdb
