/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript.unityproj
/Black.userprefs
/Black.CSharp
/Black.CSharp.Editor
/Black.CSharp.Editor.Plugins
/Black.CSharp.Plugins
/Black.sln